body {
  background-color: #f2ca7e;
}

footer {
  background-color: #f8518e;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

  text-align: center;

  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 100;
}

section {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  gap: 27px;

  /* place-content: start space-evenly; */
}

article {
  display: block;

  border: 5px solid #73d9a9;

  padding: 30px;

  /* place-content: center space-evenly; */
}

img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  /* max-width: 100vw; */
}

/* #overskrift {
  background-color: #73d9a9;
} */

h1 {
  display: flex;
  justify-content: center;
  color: #f8518e;
  font-size: 7rem;
  font-family: "Devonshire", cursive;
}

h2 {
  color: #f8518e;
  font-family: "Cormorant Garamond", serif;
  display: flex;
  justify-content: center;
}

p {
  font-family: "Cormorant Garamond", serif;
}

.valgt {
  background-color: orange;
}

#modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.192);
  top: 0;
}

#modal article {
  max-width: 900px;
  margin: 2em auto;
  background-color: white;
}

/* // KNAPPER */

button {
  display: inline-block;
  padding: 0.5em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

button1:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  button {
    display: block;
    margin: 0.4em auto;
  }
}

/* ______________WEB STYLE */

/* nav {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  padding: 0.2rem;
  margin: 0.2rem;
} */

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 3rem;
  }
}
